.root {
  display: flex;
  width: 100%;
}

.leftSidebar {
  width: 220px;

  @media (max-width: 859px) {
    display: none;
  }
}

.rightSidebar {
  width: 320px;

  @media (max-width: 1180px) {
    display: none;
  }
}