html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2 !important;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
}

.wrapper {
  display: flex;
  padding: 80px 0 30px;
}

.main-layout-white {
  background-color: #fff;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 680px;
}
