.root {
  background-color: #fff !important;
  border-radius: 8px !important;
}

.imgWrap {
  position: relative;

  * { width: 100% !important;}
}

.title {
  font-weight: 500 !important;
  font-size: 22px !important;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}
